.sidebaritem{
    display: flex;
    padding: 10px 8px;
    border-radius: 0 100px 100px 0;

}

.sidebaritem:hover{
    background-color: rgb(0, 0,0,0.04);
}

.sidebarItem__arrow{
    width: 28px;
    margin-left: 12px;
}

.sidebarItem__main{
    display: flex;
}

.sidebarItem__main>p{
    margin-left: 12px;
}